@font-face {
    font-family: 'Banty';
    src: url("../fonts/font.ttf") format("truetype");
    font-weight: 400;
}

body {
    font-family: sans-serif;
    background: rgb(25, 0, 38);
    background: linear-gradient(90deg, rgba(25, 0, 31, 1) 0%, rgba(130, 0, 201, 1) 50%, rgba(0, 25, 31, 1) 100%);
    text-align: center;

}

span {
    font-size: 60px;
    margin: 20px;
    padding: 3px;
}

form {
    position: absolute;
    background: #191919;
    width: 320px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

form input, select {
    margin: 20px auto;
    background: none;
    text-align: center;
    display: block;
    border: 2px solid #3498db;
    border-radius: 24px;
    padding: 14px 10px;
    width: 240px;
    outline: none;
    color: white;
    transition: 0.25s;
}

form input:focus, select:focus {
    width: 300px;
    border-color: #2ecc71;
    border-radius: 30px;
}

select {
    transition: 0.1s;
}

form input[type = "button"] {
    border: 2px solid red;
    border-radius: 24px;
}

form input[type = "button"]:focus {
    border: 2px solid #2ecc71;
    border-radius: 36px;
    transition: 0.25s;
}

form select option {
    background: #34495e;
}

#head, #login, #or, #reg, #ans {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: deepskyblue;
}

#login:hover, #reg:hover {
    color: greenyellow;
}


#ansBody {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#game span {
    width: 230px;
    height: 100%;
    text-align: center;
}

#answer {
    color: green;
    font-size: 45px;
    text-align: center;
}

#game {
    font-family: Banty;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#gameBody {
    border: #dad55e 1px solid;
    display: inline-block;
}

#field {
    border-color: brown;
    border-width: 5px;
    border-style: dashed;
    border-radius: 5px;
}

#title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: larger;
    color: darkblue;
}

#timer, table {
    font-size: xx-large;
    font-family: Banty;
}

.ans {
    border-radius: 50%;
    margin: 10px;
    width: 75px;
    height: 75px;
}